* {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
}

body {
    /*  width: 100%; */
    height: auto;
    padding: 70px;
    background: linear-gradient(rgb(241, 4, 182), white);
}

/* .envio {
    background-color: black;
    color: white;
    text-align: center;
} */
.envio {
    /* background-color: black; */
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

.nav {
    height: 30px;
    width: 100%;
    text-align: center;
}

.nav_ul {
    list-style-type: none;
}

.nav_li {
    height: 80px;
    width: 10%;
    display: inline-block;
}

.link_nav {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    transition: all 1s;
}

.navbar:hover {
    color: rgb(250, 7, 173);
}

.fondo img {
    width: 100px;
    height: 100px;
}

/* .todo {
    background-color: rgba(0, 0, 0, 0.89);
    position: sticky;
    top: 0px;
}

.todo img {
    padding: 0px;
} */


/* LANZAMIENTO  */
.link {
    background-color: pink;
    /* background-image: url(../ass
    ets/img/logo.png); */
    padding: 100px;
    font-size: 40px;
}

.link_prod {
    text-decoration: none;
    color: white;
}


.link_prod:hover {
    background-color: purple;
}

/*  */
.lanzamientos {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 3fr);
    gap: 5px;
}

.lanzamientos img {
    width: 100%;
    height: auto;
}

.lanzamientos img.dos {
    grid-column: 1/4;
    grid-row: 1/2;
}

.lanzamientos img.largo {
    grid-column: -4/-1;
    width: 100%;
    height: auto;
}

.lanzamientos img:hover {
    background: black;
}

.lanzamientos_h2 {
    text-align: center;
    font-family: cursive;
    padding: 50px;
    transition: all 1s;
}

.lanzamientos_h1:hover {
    background-color: purple;
    color: white;
}

/* LANZAMIENTO  */
.publicidad {
    position: sticky;
    left: 0;
    width: 100px;
    height: 50px;
    background-color: coral;
    color: white;
    transition: all 5s;
}

.publicidad:hover {
    left: 10%;
    width: 10%;
    background: black;
    text-align: center;
}

/* MARCAS */

.marcas {
    background: linear-gradient(gray, black);
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

}

.marcas .marcas_item {
    width: 15%;
    height: auto;
    background-color: rgb(75, 114, 151);
    text-align: center;
    order: 1;

}

.marcas .marcas_item img {
    border: rgb(0, 0, 0) solid 1px;
    width: 100%;
    height: 100%;
}

.marcas img {
    display: flexbox;
    border: black dotted 10px;
}


#main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(black, gray);
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#main .marcas_h4 {
    font-size: 25px;
}

/* MARCAS */

.descripcion {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* FOOTER */

#piePagina {

    background-color: rgba(121, 126, 126, 0.1);
    border: 3px solid black;
    padding: 1px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#piePagina h5 {
    text-align: center;
}

/* RESPONSIVE */
@media (max-width:768px) {

    .todo {
        background: linear-gradient(black, gray);
    }

    .envio {
        font-size: 13px;
        font-family: monospace;
    }

    .nav {
        background-color: rgb(40, 40, 98);
    }

    .nav_ul .nav_li {
        list-style-type: none;
        color: black;
    }

    .lanzamientos_h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        padding: 10px;
    }

    .lanzamientos {
        display: gridx;
        grid-area: auto;
        grid-template-columns: repeat(3, 1fr);
    }

    .lanzamientos img {
        width: 70%;
        height: auto;
    }

    .lanzamientos img.largo {
        width: 100%;
        grid-column: unset;
        /* display : none */
    }

    .lanzamientos img.dos {
        width: 100%;
        grid-column-start: inherit;
        /* display: none; */
    }

    .link {
        background-color: blueviolet;
        color: black;
        padding: 10px;
        font-size: 10px;
        height: 40%;
    }

    .marcas {
        background: linear-gradient(blueviolet, white);
    }

    #piePagina {
        background: linear-gradient(white, blueviolet);
        color: blacke;
    }

    #main {
        background: radial-gradient(blueviolet);
    }

    #piePagina {
        font-size: 10px;
        font-family: sans-serif;
    }
}