/*  */


*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet:not(svg) {
    transform-origin: 0px 0px;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

a {
    /* color: var(--bs-link-color); */
    text-decoration: underline;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

user agent stylesheet li {
    text-align: -webkit-match-parent;
}

/*  */
* {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
}

.body {
    height: auto;
    padding: 30px;
    background: linear-gradient(rgb(241, 4, 182), white);
}

.envio {
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    transition: all 2s;
    font-family: cursive;
}

.envio:hover {
    font-size: 2rem;
    color: white;
    text-decoration-line: underline;
}

.fondo {
    display: flex;
}

.fondo img {
    width: 100px;
    height: 100px;
}

/* NAVEGACION */



/* INDEX */

.link {
    background-color: pink;
    padding: 100px;
    font-size: 2rem;
}

.link_prod {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}


.link_prod:hover {
    background-color: purple;
    font-size: 3rem;
}

.portadas img:hover {
    border: black solid 3px;
}



#notificaciones {
    transition: all 2s;
}

#notificaciones:hover {
    border: black solid 3px;
}


#main {
    background-image: url(/repositorio/assets/img/logo.png);
    padding: 200px;
    text-align: center;
}

#main a {
    color: white;
    font-size: 3rem;
}

#main .marcas_h4 {
    padding: 10px;
    display: inline;
    font-family: cursive;
    font-weight: bold;
    background-color: white;
    font-size: 2rem;
}

.marcas {
    border: black solid 1px;
    background-color: white;
}

.cupon {
    display: flex;
    flex-direction: row-reverse;
    border: #6c757d dotted 2px;
    padding: 50px;
}

.cupon .figures {
    font-size: 2rem;
    color: crimson
}

.cupon img {
    border: crimson solid 2px;
}

/* INDEX */



/* Footer */
.footerGlow {
    text-align: center;
}

/* Footer */

/* Productos */
.grid {
    display: grid;
    gap: 5px;
    transition: all 1s;
}

.grid img {
    width: 100%;
    height: 80%;
    grid-row: 1/2;
}

.grid:hover {
    border: deeppink dotted 5px;
}

.grid-text {
    font-size: 4rem;
    text-align: center;
}

.grid-text:hover {
    font-size: 5rem;
    color: white;
}

h6 {
    text-align: center;
}

.progress {
    margin: 15 px;
}

.cate {
    background-color: rgb(222, 30, 193);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline block;
    transition: all 1s;
}

.cate:hover {
    background-color: darkblue;
    color: white;
}

.prod-flex {
    color: white;
    background-image: url(../assets/img/logo.png);
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    gap: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

.prod-flex .prod {
    width: 250px;
    height: auto;
    text-align: center;
}

.prod-flex img {
    border: coral solid 4px;
}



.prod-flex:hover {
    border: white double 10px;
}

h2 {
    text-align: center;
    padding: 25px;
}

h2 a {
    color: black;
    font-size: 2rem;
    font-family: cursive;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    background: black;
    color: white;
    font-family: cursive;
    margin: 1px;
    transition: all 3s;
}

.card:hover {
    border: white solid 10px;
}


/* productos.html */

/* Contacto */
.formulario {
    padding: 5px;
    border: gold solid 2px;
    height: auto;
}

/* Contacto */

/* RESPONSIVE PARA MOBILE */
@media (max-width: 575px) {
    html {
        font-size: 50%;
    }

    .liquidacion {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #main img {
        width: 50vh;
        height: 5%;
    }

    #main {
        width: 100%;
        display: grid;
        padding: 10%;
    }

    .portadas img {
        width: 100%;
        height: 100%;
    }

    .carrusel {
        font-size: 3rem;
    }

    .notificaciones {
        font-size: 3rem;
    }

    .conteiner {
        display: flex;
        width: 100%;
    }

    .figure img {
        border: crimson solid 5px;
        width: auto;
        height: 100px;
    }



    /* INDEX */
    /* PRODUCTOS */
    .card {
        width: min-content;
        display: grid;

    }

    .card img {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .card1 img {
        width: 350px;
    }

    .prod-flex {
        width: 100%;
        height: 100%;
    }

    .prod-flex img {
        width: 65px;
        height: auto;
    }

    .prod p {
        display: flex;
        align-content: space-around;
    }
}


/* REPONSIVE PARA MOBILE */