/*  */


*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet:not(svg) {
    transform-origin: 0px 0px;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

a {
    /* color: var(--bs-link-color); */
    text-decoration: underline;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

user agent stylesheet li {
    text-align: -webkit-match-parent;
}

/*  */
* {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
}

.body {
    height: auto;
    padding: 30px;
    background: linear-gradient(rgb(199, 36, 96), black);
}

.todo {
    position: sticky;
    top: 2px;
}

.envio {
    display: inline-block;
    /* background: white; */
    /*  color: black; */
    padding: 4px;
    font-size: 1rem;
    transition: all 2s;
    font-family: cursive;
}

.envio:hover {
    font-size: 1.2rem;
    text-decoration-line: underline;
}

.fondo {
    display: flex;
}

.fondo img {
    width: 100px;
    height: 100px;
}

/* NAVEGACION */
/* Footer */
.footerGlow {
    text-align: center;
}

/* Footer */
/* INDEX */
.logo {
    transition: all 2s;
}

.logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.liquidacion img {
    width: 900px;
}

.card1 {
    padding: 1px;
    display: flex;
    gap: 200px;
}

.card1 img {
    height: 700px;
}

#notificaciones {
    transition: all 2s;
    overflow: hidden;
}

#notificaciones:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.cupon {
    display: flex;
    flex-direction: row-reverse;
    border: skyblue dotted 5px;
}

.cupon .figures {
    font-size: 3rem;
}

.cupon img {
    border: skyblue dotted 5px;
}

/* INDEX */


/* Productos */
#carouselExampleInterval {
    text-align: center;
    width: 100%;
}

#carouselExampleInterval img:hover {
    filter: grayscale(80%);
}

#carouselExampleInterval img {
    height: 600px;
}

.grid-text {
    font-size: 3rem;
    text-align: center;
}

.grid-text:hover {
    font-size: 3.3rem;
    color: white;
}

.cate {
    background-color: rgb(222, 30, 193);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline block;
    transition: all 1s;
}

.cate:hover {
    background-color: darkblue;
    color: white;
}


h2 a {
    font-size: 1.5rem;
    font-family: cursive;
}

.prod-flex {
    color: white;
    background-image: url(../assets/img/logo.png);
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    gap: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

.prod-flex .prod {
    width: 250px;
    height: auto;
    text-align: center;
}

.prod-flex:hover {
    border: white double 10px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    background: black;
    color: white;
    font-family: cursive;
    margin: 1px;
    transition: all 3s;
}

.card:hover {
    border: white solid 5px;
}

/* productos.html */

/* Contacto */
.formulario {
    padding: 50px;
}

/* Contacto */
/* SUCURSALES */
.mapa iframe {
    width: 100%;
    height: 500px;
    text-align: center;
    border: skyblue dotted 5px;
}

/* SUCURSALES */
/* RRHH */
.imgrrhh {
    display: flex;
}

.imgrrhh img {
    display: flex;
    width: auto;
    /*  */
    height: auto;
}

form {
    color: white;
}

/* RRHH */

/* RESPONSIVE PARA MOBILE */
@media (max-width: 500px) {
    html {
        font-size: 50%;
    }

    .navbar {
        box-shadow: 5px 5px 10px red;
    }

    .navbar img {
        width: 50px;
        height: 50px;
    }

    .liquidacion {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .portadas img {
        width: 100%;
    }

    .portadas h3 {
        text-align: center;
        font-size: 3rem;
    }

    #carouselExampleFade {
        display: grid;
    }

    #carouselExampleFade img {
        width: 100%;
    }

    .carrusel {
        font-size: 3rem;
    }

    .cupon {
        padding: 3px;
        display: grid;
        text-align: center;
    }

    .cupon .figures {
        font-style: italic;
        font-size: 10px;
    }

    .notificaciones {
        font-size: 3rem;
    }

    .conteiner {
        display: flex;
        width: 100%;
    }

    .figure img {
        border: crimson solid 5px;
        width: auto;
        height: 100px;
    }



    /* INDEX */
    /* PRODUCTOS */
    .card {
        text-align: center;
        width: 100%;
        display: flex
    }

    .card h5 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1rem;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    .card1 img {
        width: 50%;
        height: 250px;
        border: white solid 1px;

    }


    .prod-flex {
        width: 100%;
        height: 100%;
    }

    .prod-flex img {
        width: 65px;
        height: auto;
    }

    .prod p {
        display: flex;
        align-content: space-around;
    }

    #carouselExampleInterval {
        width: 100%;
        height: 400px;
    }

    #carouselExampleInterval img {
        width: 50%;
        height: 200px;
    }

    /* RRHH */
    .body_RRHH {
        width: 100%;
        background: pink;
        padding: 50px;
    }

    .imgrrhh {
        display: flex;
        flex-direction: column;
    }

    .imgrrhh p {
        text-align: end;
    }

    .mapa {
        height: 50%;
    }

    /* RRHH */
}


/* REPONSIVE PARA MOBILE */